body {
    background-color: black;
}

#map {
    fill: black;
    stroke: gray;
    stroke-width: 5px;
    stroke-linejoin: round;
}

svg circle {
    stroke-width: 2px;
    fill: #3f3;
    stroke: #151;
}

svg path.hover {
    fill: lightgray;
    stroke: white;
    z-index: 1;
}

svg path.clicked {
    fill: red;
}
