.region[data-v-81196e] {
  fill: black;
  fill-opacity: 0;
  stroke: gray;
  stroke-opacity: 0;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.region.hover[data-v-81196e] {
  fill: #666;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
}
.region.clicked[data-v-81196e] {
  fill: red;
  fill-opacity: 1;
  stroke-width: 2px;
}
.pin[data-v-a71f5c] {
  stroke-width: 1px;
  fill: white;
  stroke: black;
  cursor: pointer;
  transition: 0.05s;
}
.pin.clicked[data-v-a71f5c] {
  fill: #9aff9a;
  stroke: #151;
  stroke-width: 2px;
}
.pin.parentClicked[data-v-a71f5c] {
  fill-opacity: 0.8;
  stroke-width: 2px;
}
.region[data-v-99ea80] {
  fill: black;
  stroke: gray;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
